<section>
  <h1>Shared image!</h1>
  <canvas id="image-canvas" height="512" width="512">
    You must enable Javascript to see the shared image.
  </canvas>
</section>

<input id="input-x" type="number"/>
<input id="input-y" type="number"/>
<input id="input-r" type="number"/>
<input id="input-g" type="number"/>
<input id="input-b" type="number"/>
<button id="draw-btn">Draw</button>

<p>Connected folks: <span id="nb-connected-image">0</span></p>
