<h1>Show Lobby</h1>

<ul>
  <li><strong>UUID:</strong> <%= @lobby.id %></li>
  <li><strong>Name:</strong> <%= @lobby.name %></li>
</ul>

<span><%= link "Edit", to: Routes.lobby_path(@conn, :edit, @lobby) %></span>
<span><%= link "Reset image", to: Routes.lobby_path(@conn, :reset_image, @lobby) %></span>
<span><%= link "Back", to: Routes.lobby_path(@conn, :index) %></span>
