import Config

config :pixel_forum, :pow_assent,
  http_adapter: Assent.HTTPAdapter.Mint,
  providers: [
    github: [
      client_id: "<GitHub client ID>",
      client_secret: "<GitHub client secret>",
      strategy: Assent.Strategy.Github
    ]
  ]
