import Config

# Changing the secret key base below will invalidate all tokens issued by Phoenix.Token.
config :pixel_forum, PixelForumWeb.Endpoint,
  secret_key_base: "<Generate a secret using `mix phx.gen.secret`.>",
  live_view: [signing_salt: "<Generate a signing salt using `mix phx.gen.secret 32`.>"]
