import Config

# Changing the token below will invalidate all issued JWT tokens.
config :joken,
  default_signer: [
    signer_alg: "HS256",
    key_octet: "<Generate a secret using `mix phx.gen.secret`.>"
  ]
