# Be careful to have this file in the .gitignore.
use Mix.Config

config :pixel_forum, PixelForumWeb.Endpoint,
  # We need to configure a domain name here in order to configure the callback
  # URLs given to the OAuth providers.
  url: [scheme: "https", host: "some.real.domain.name", port: 443],
  # Overload the secret key base, since we are opening to the Web. However, we
  # hard-code it under the assumption that some (reverse-)proxy protects us
  # behind a password.
  secret_key_base: "<change me using `mix phx.gen.secret`>"

config :pixel_forum, :pow_assent,
  http_adapter: Assent.HTTPAdapter.Mint,
  providers: [
    # See https://hexdocs.pm/pow_assent/ for other providers.
    github: [
      client_id: "<your GitHub client ID>",
      client_secret: "<your GitHub client secret>",
      strategy: Assent.Strategy.Github
    ]
  ]

# Configure the JWT signer, which is private. Same as for the endpoint secret
# key base, we assume that hard-coding it here is enough in a staging
# environment behind basic authentication.
config :joken,
  default_signer: [
    signer_alg: "HS256",
    key_octet: "<change me using `mix phx.gen.secret`>"
  ]
